<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
<title>enquiry</title>
</head>

<body>

<div th:replace="CommonFile/header :: header"></div>

<h1>이론</h1>

<h2>차트세팅</h2>
지표는
RSI(14) / MACD(12,26,9) / OBV / CCI / RS
주가는
MA(20, 50, 200)

<h2>흐름</h2>
QQQ / SPY / DOWJONES 3개의 흐름을 보고 시장의 단기적(3개월) 방향을 예측

<h2>정보</h2>
fear and greed 
블룸버그 프로페셔널
달러
fomc 금리 

<h2>주식종류</h2>
지수에 투자를 많은 비중을 주되 스윙투자를 중점으로
기술주를 중점으로


<div th:replace="CommonFile/footer :: footer"></div>


</body>
</html>