<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Chart for [[${ticker}]]</title>
    
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    
    <style type="text/css">
    
 .myChart
    {
    width: 100%; /* 차트를 컨테이너에 맞춤 */
    min-width: 100px; /* 최대 너비 설정 */
    max-width: 1000px;
    max-height: 180px; /* 높이 설정 */
    border: 1px solid #ccc; /* 경계선 추가 */
	}
	
	/* 차트와 버튼 리스트를 감싸는 컨테이너 */
.chart-wrapper {
  display: flex; /* Flexbox로 가로 정렬 */
  gap: 20px; /* 버튼 리스트와 차트 사이의 간격 */
}

.earning-list
{
  flex: 0 0 150px; /* 고정 너비 */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  gap: 10px; /* 버튼 간 간격 */
  background-color: #f0f0f0; /* 배경색 */
  padding: 10px; /* 내부 여백 */
  border: 1px solid #ccc; /* 경계선 */
  border-radius: 5px; /* 둥근 모서리 */
}

/* 왼쪽 버튼 리스트 */
.chart-button-list .chart-setting-left {
  flex: 0 0 150px; /* 고정 너비 */
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  gap: 10px; /* 버튼 간 간격 */
  background-color: #f0f0f0; /* 배경색 */
  padding: 10px; /* 내부 여백 */
  border: 1px solid #ccc; /* 경계선 */
  border-radius: 5px; /* 둥근 모서리 */
}

/* 버튼 스타일 */
.chart-button-list .button-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.chart-button-list .button-container button:hover {
  background-color: #0056b3;
}

/* 오른쪽 차트 영역 */
.chart-container  {
  flex: 0.8; 
  display: flex;
  flex-direction: column; /* 차트들을 세로로 정렬 */
  gap: 20px; /* 차트 간 간격 */
  justify-content: space-around;
}

chart-setting-left {
  flex: 0.8; 
  display: flex;
  flex-direction: column; /* 차트들을 세로로 정렬 */
  gap: 20px; /* 차트 간 간격 */
  justify-content: space-around;
}

    </style>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial/dist/chartjs-chart-financial.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
	<script src="https://cdn.jsdelivr.net/npm/html2canvas@0.4.1/dist/html2canvas.min.js"></script>

</head>
<body>

<div th:replace="CommonFile/header :: header"></div>

<div>
    <label>기간 선택</label>
    <select id="dateRange">
    
    	<option value="1d">일</option>
        <option value="1W">주</option>
        <option value="1M">달</option>
        <option value="1y">년</option>
        
    </select>
    

    <button onclick="updateChart()">업데이트</button>
    
</div>

<div>
<label>지표 추가</label>

	<button onclick="addbutton()"> 추가 </button>
    
    <select id="indicatorRange">
    
    	<option value="rsi">rsi</option>
        <option value="cci">cci</option>
        <option value="macd">macd</option>
        <option value="obv">obv</option>
        <option value="rs">rs</option>
        <option value="rs">RS</option>
        
    </select>
    
    <button onclick="addChart()">업데이트</button>
    
</div>

    <h3>회사티커 [[${ticker}]]</h3>
    <h3>회사이름 [[${name}]]</h3>
<form id="stockSearchForm" action="/stocks" method="get">
    <input type="text" id="tickerInput" name="ticker" placeholder="Enter ticker">
    <button type="submit">Search</button>
</form>


<ul id="searchResults"></ul>
    
    <div class="chart-wrapper">
   	<div class="chart-button-list">
   		
   	  <button>최근목록</button>
      <button>리스트</button>
      
   	</div>
    
    <div class="chart-container">
    <div> 
    <canvas id="rsiChart" class="myChart"></canvas>
	</div>
	

	<div>
    <canvas id="macdChart" class="myChart"></canvas>
	</div>

    
    <canvas id="stockChart" 
    style="width: 100%; /* 차트를 컨테이너에 맞춤 */
    min-width: 1000px; /* 최대 너비 설정 */
    max-width: 1000px;
    max-height: 450px; /* 높이 설정 */
    border: 1px solid #ccc; /* 경계선 추가 */
    background-color: #f9f9f9;">
    </canvas>
    

	<div>
	<canvas id="obvChart" class="myChart"></canvas>
	</div>

	
	<div>
    <canvas id="cciChart" class="myChart"></canvas>
	</div>
	
	<div>
    <canvas id="rsChart" class="myChart"></canvas>
	</div>
	
	<div>
    <canvas id="stochasticChart" class="myChart"></canvas>
	</div>
	

	
	</div>
	
	<div class="earning-list" style="display:flex;" >
   		
   	  <button>실적</button>
      <button>표</button>
      
   	</div>
	
	
	</div>
	
	
	<div class="chart-setting-wrapper">
	
	<div class="chart-setting-left">
	
	<h3>차트세팅 좌 </h3>
	
	</div>
	
	<div class="chart-setting-right">
	
	<h3>차트세팅 우 </h3>
	
	</div>
	
	
	
	</div>
	

<div th:replace="CommonFile/footer :: footer"></div>

    <script th:inline="javascript">
        // Thymeleaf will now properly serialize the stockDataList as a JavaScript object
        var stockDataList = /*[[${stockDataList}]]*/ [];
        var indicatorList = /*[[${indicatorList}]]*/ [];
        
        
        const lineData = stockDataList.map(stock => ({
            x: new Date(stock.date.replace(" ", "T")), // Date or timestamp
            y: stock.close,  // Closing price
        }));
        
        const ohlcData = stockDataList.map(stock => ({
        	t: new Date(stock.date.replace(" ", "T")),   // Date or timestamp
            o: stock.open,   // Opening price
            h: stock.high,   // High price
            l: stock.low,    // Low price
            c: stock.close   // Closing price
        }));
        
        
        const volumes = stockDataList.map(stock => ({
            x: new Date(stock.date).toISOString(),
            y: stock.volume
        }));
        
        const rsiData = {
        	    labels: indicatorList.map((_, index) => index + 1),
        	    datasets: [
        	        {
        	            label: 'RSI',
        	            data: indicatorList.map(indicator => indicator.rsi),
        	            borderColor: 'black', // RSI 선 색깔
        	            borderWidth: 1,
        	            fill: false, // 기본 RSI 선은 영역 채우지 않음
        	            pointRadius: 0 // 동그란 점을 숨김
        	        }
        	    ]
        	};

        // MACD 차트 데이터 생성
        const macdData = {
        		labels: indicatorList.map((_, index) => index + 1),
            datasets: [{
                label: 'MACD',
                data: indicatorList.map(indicator => indicator.macd),
                borderColor: 'black',
                borderWidth: 1,
                fill: false,
                pointRadius: 0
            }]
        };
        
     // RS 차트 데이터 생성
        const rsData = {
        		labels: indicatorList.map((_, index) => index + 1),
            datasets: [{
                label: 'RS',
                data: indicatorList.map(indicator => indicator.rs),
                borderColor: 'black',
                borderWidth: 1,
                fill: false,
                pointRadius: 0
            }]
        };
     
     // RS 차트 데이터 생성
        const stoData = {
        		labels: indicatorList.map((_, index) => index + 1),
            datasets: [{
                label: 'Stochastic',
                data: indicatorList.map(indicator => indicator.stochastic),
                borderColor: 'black',
                borderWidth: 1,
                fill: false,
                pointRadius: 0
            }]
        };
        

        // OBV 차트 데이터 생성
        const obvData = {
        		labels: indicatorList.map((_, index) => index + 1),
            datasets: [{
                label: 'OBV',
                data: indicatorList.map(indicator => indicator.obv),
                borderColor: 'black',
                borderWidth: 1,
                fill: false,
                pointRadius: 0
            }]
        };
        

        
     // 예시로 CCI 데이터 추가
        const cciValues = indicatorList.map(indicator => indicator.cci); // CCI 값만 추출
        const cciLabels = indicatorList.map(indicator => indicator.date); // 날짜를 라벨로 사용

        const maxCciValue = Math.max(...indicatorList.map(indicator => indicator.cci));
        const minCciValue = Math.min(...indicatorList.map(indicator => indicator.cci));

        // Y축 최대값과 최소값을 설정
        const yMax = maxCciValue > 200 ? maxCciValue : 200;
        const yMin = minCciValue < -200 ? minCciValue : -200;
        
        const cciData = {
        		labels: indicatorList.map((_, index) => index + 1),
        	    datasets: [{
        	        label: 'CCI',
        	        data: indicatorList.map(indicator => indicator.cci),
        	        borderColor: 'black', // 색상 조정
        	        borderWidth: 1,
        	        fill: false,
        	        pointRadius: 0
        	    }]
        	};

        const maData = indicatorList.map(stock => ({
            x: new Date(stock.date),
            y: stock.ma               // 이동 평균 값
        }));
        
    window.onload = function() { 

    const ctx = document.getElementById('stockChart').getContext('2d');
    const ctxCCI = document.getElementById('cciChart').getContext('2d');
    const chartContext = document.getElementById('rsiChart').getContext('2d');
    const ctxMACD = document.getElementById('macdChart').getContext('2d');
    const ctxOBV = document.getElementById('obvChart').getContext('2d');
    const ctxrs = document.getElementById('rsChart').getContext('2d');
    const stochastic = document.getElementById('stochasticChart').getContext('2d');
   
    
    
    const rsiChart = new Chart(chartContext, {
        type: 'line',
        data: rsiData,
        options: {
            responsive: true,
            scales: {
                y: {
                    min: 0,
                    max: 100,
                    ticks: {
                        stepSize: 10
                    },
                    grid: {
                        color: '#e0e0e0' // 그리드 색깔
                    }
                },
                x: {
                	display: false, 
                    grid: {
                        color: '#e0e0e0' // 그리드 색깔
                    }
                }
            },
            plugins: {
                annotation: {
                    annotations: {
                        line1: {
                            type: 'line',
                            yMin: 30,
                            yMax: 30,
                            borderColor: 'red', // 30선 색깔
                            borderWidth: 1,
                            label: {
                                enabled: true,
                                content: '30',
                                position: 'end'
                            }
                        },
                        line2: {
                            type: 'line',
                            yMin: 70,
                            yMax: 70,
                            borderColor: 'green', // 70선 색깔
                            borderWidth: 1,
                            label: {
                                enabled: true,
                                content: '70',
                                position: 'end'
                            }
                        }
                    }
                }
            }
        }
    });

    new Chart(stochastic, {
        type: 'line',
        data: stoData,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 100, // RSI는 0에서 100 사이
                    suggestedMin: 0 
                },
                x: {
                    display: false  // x축 날짜 레이블 숨기기
                }
    
            }
        }
    });
    
    new Chart(ctxrs, {
        type: 'line',
        data: rsData,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 10, // RSI는 0에서 100 사이
                    suggestedMin: -10 
                },
                x: {
                    display: false  // x축 날짜 레이블 숨기기
                }
    
            }
        }
    });
    
    
    new Chart(ctxMACD, {
        type: 'line',
        data: macdData,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 10, // RSI는 0에서 100 사이
                    suggestedMin: -10 
                },
                x: {
                    display: false  // x축 날짜 레이블 숨기기
                }
    
            }
        }
    });

    new Chart(ctxOBV, {
        type: 'line',
        data: obvData,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                },
                x: {
                    display: false  // x축 날짜 레이블 숨기기
                }
            }
        }
    });
    
    const cciChart = new Chart(ctxCCI, {
            type: 'line',
            data: cciData,
            options: {
                responsive: true,
                scales: {
                    y: {
                        min: yMin, // 동적으로 설정한 최소값
                        max: yMax, // 동적으로 설정한 최대값
                        ticks: {
                            stepSize: 50
                        },
                        grid: {
                            color: '#e0e0e0' // 그리드 색깔
                        }
                    },
                    x: {
						display: false,
                        grid: {
                            color: '#e0e0e0' // 그리드 색깔
                        }
                    }
                },
                plugins: {
                    annotation: {
                        annotations: {
                            line1: {
                                type: 'line',
                                yMin: -100,
                                yMax: -100,
                                borderColor: 'red', // -100선 색깔
                                borderWidth: 1,
                                label: {
                                    enabled: true,
                                    content: '-100',
                                    position: 'end'
                                }
                            },
                            line2: {
                                type: 'line',
                                yMin: 100,
                                yMax: 100,
                                borderColor: 'green', // 100선 색깔
                                borderWidth: 1,
                                label: {
                                    enabled: true,
                                    content: '100',
                                    position: 'end'
                                }
                            },
                            
                        }
                    }
                }
            }
        });
    
    const stockChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'Stock Price',
                    data: lineData,
                    yAxisID: 'price-axis',
                    borderColor: 'rgba(86, 229, 245, 1)',
                    backgroundColor: 'rgba(86, 229, 245, 0.2)',
                },
                {
                    label: 'Volume',
                    data: volumes,
                    type: 'bar',
                    yAxisID: 'volume-axis',
                    backgroundColor: 'rgba(135, 138, 136, 0.5)',
                    borderColor: 'rgba(135, 138, 136, 1)',
                    borderWidth: 1,
                    categoryPercentage: 0.5 // 카테고리 너비를 조절
                },
               
            ]
        },
        options: {
        	responsive: false, // 차트를 고정 크기로 설정
            maintainAspectRatio: false,
            scales: {
            	x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        tooltipFormat: 'yyyy-MM-dd',  // 툴팁에 표시할 형식
                        displayFormats: {
                            day: 'yyyy-MM-dd'
                        }
                    }
                },
                'price-axis': {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: true,
                        text: 'Price'
                    },
                },
                'volume-axis': {
                type: 'linear',
                position: 'left', // 거래량 y축은 왼쪽에 위치
                title: {
                    display: true,
                    text: 'Volume (단위: millions)'
                },
                suggestedMax: Math.max(...volumes.map(v => v.y)) / 5,
                ticks: {
                    beginAtZero: true,
                    padding: 10, // y축 위쪽의 패딩을 줄임
                    callback: function(value) {
                        return value / 1000000 + 'M';  // y축 값에 'M'을 붙여서 표시
                    }
                },
                grid: {
                    drawBorder: false, // 그리드 라인 숨기기
                    lineWidth: 1, 
                    tickMarkLength: 5,
                    
                },
                }
            }
        }
    });
};

const searchInput = document.getElementById('searchInput');
const searchButton = document.getElementById('searchButton');

// 검색 버튼 클릭 시 차트 데이터 갱신
searchButton.addEventListener('click', function() {
    const ticker = searchInput.value.trim().toUpperCase();

    if (ticker) {
        fetchStockDataAndUpdateChart(ticker);
    } else {
        alert('티커를 입력해주세요.');
    }
});


// 차트를 갱신
function updateChart(stockData) {
    const ohlcData = stockData.map(stock => ({
        t: new Date(stock.date.replace(" ", "T")),   // Date or timestamp
        o: stock.open,   // Opening price
        h: stock.high,   // High price
        l: stock.low,    // Low price
        c: stock.close   // Closing price
    }));

    // 차트가 이미 존재한다면 업데이트
    if (chart) {
        chart.data.datasets[0].data = ohlcData;  // 기존 차트 데이터 업데이트
        chart.update();  // 차트 갱신
    } else {
        // 차트가 없다면 새로 생성
        createChart(ohlcData);
    }
}

document.getElementById("stockSearchForm").addEventListener("submit", function(event) {
    event.preventDefault();  // 페이지 새로고침 방지

    var ticker = document.getElementById("tickerInput").value;

    // 티커에 해당하는 주식 데이터를 AJAX로 요청
    fetch(`/api/stock-data/stocks/${ticker}`)
        .then(response => response.json())
        .then(data => {
            // 차트 데이터를 업데이트하는 로직
            updateChart(data);
        })
        .catch(error => {
            console.error("오류 fetching stock data:", error);
        });
});

function addChart(stockData) {
	
	var tc = document.getElementById("tickerInput").click;
	
	fetch(`/api/stock-data/stocks/${ticker}`)
	.then(response => response.json())
	.then(data => {
	addchart(data);
	})
	.catch(error => {
	console.error("지표 수동추가 안됨", error);
	
	})
	
};



    </script>
</body>
</html>
