<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
<title>login page</title>
</head>
<body>

<div th:replace="CommonFile/header :: header"></div>

<div class="content" style="display:flex;justify-content: center;">
      <form class="login-form" method="post" action="/login">
      
        <h2 style="display:flex;justify-content:center;">로그인</h2>

        <p>
          <label for="username" class="screenreader">아이디</label>
          <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
        </p>
        <p>
          <label for="password" class="screenreader">비밀번호</label>
          <input type="password" id="password" name="password" placeholder="Password" required="">
        </p>

<input name="_csrf" type="hidden" value="LQS0iYK8wpq-p2yhuPWp1oAe5s_BqxiYxCsXC2yurAYQb6xkTmaFuLLd86mTlVmTjdid4eEmy_bynC218B9xMwnImTV1XJhQ">
        <button type="submit" class="primary">Sign in</button>
      </form>
    </div>
    

</body>
</html>