<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>

<body>
<div th:replace="CommonFile/header :: header"></div>

<form id="stockSearchForm" action="/stocks" method="get">
    <input type="text" id="tickerInput" name="ticker" placeholder="Enter ticker">
    <button type="submit">Search</button>
</form>

	<div class="chart-button-list">
   		
   	  <button>최근목록</button>
      <button>리스트</button>
      
   	</div>
   	
<div class="chart-container">

<canvas id="stockChart" 
    style="width: 100%; /* 차트를 컨테이너에 맞춤 */
    min-width: 900px; /* 최대 너비 설정 */
    max-width: 900px;
    max-height: 400px; /* 높이 설정 */
    border: 1px solid #ccc; /* 경계선 추가 */
    background-color: #f9f9f9;">
    </canvas>

</div>

<div th:replace="CommonFile/footer :: footer"></div>

<script th:inline="javascript">
var stockDataList = /*[[${stockDataList}]]*/ [];
var indicatorList = /*[[${indicatorList}]]*/ [];


const lineData = stockDataList.map(stock => ({
    x: new Date(stock.date.replace(" ", "T")), // Date or timestamp
    y: stock.close,  // Closing price
}));

const ohlcData = stockDataList.map(stock => ({
	t: new Date(stock.date.replace(" ", "T")),   // Date or timestamp
    o: stock.open,   // Opening price
    h: stock.high,   // High price
    l: stock.low,    // Low price
    c: stock.close   // Closing price
}));


const volumes = stockDataList.map(stock => ({
    x: new Date(stock.date).toISOString(),
    y: stock.volume
}));

window.onload = function() { 

    const ctx = document.getElementById('stockChart').getContext('2d');

    const stockChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: 'Stock Price',
                    data: lineData,
                    yAxisID: 'price-axis',
                    borderColor: 'rgba(86, 229, 245, 1)',
                    backgroundColor: 'rgba(86, 229, 245, 0.2)',
                },
                {
                    label: 'Volume',
                    data: volumes,
                    type: 'bar',
                    yAxisID: 'volume-axis',
                    backgroundColor: 'rgba(135, 138, 136, 0.5)',
                    borderColor: 'rgba(135, 138, 136, 1)',
                    borderWidth: 1,
                    categoryPercentage: 0.5 // 카테고리 너비를 조절
                },
               
            ]
        },
        options: {
        	responsive: false, // 차트를 고정 크기로 설정
            maintainAspectRatio: false,
            scales: {
            	x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        tooltipFormat: 'yyyy-MM-dd',  // 툴팁에 표시할 형식
                        displayFormats: {
                            day: 'yyyy-MM-dd'
                        }
                    }
                },
                'price-axis': {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: true,
                        text: 'Price'
                    },
                },
                'volume-axis': {
                type: 'linear',
                position: 'left', // 거래량 y축은 왼쪽에 위치
                title: {
                    display: true,
                    text: 'Volume (in millions)'
                },
                suggestedMax: Math.max(...volumes.map(v => v.y)) / 2,
                ticks: {
                    beginAtZero: true,
                    padding: 10 // y축 위쪽의 패딩을 줄임
                },
                grid: {
                    drawBorder: false, // 그리드 라인 숨기기
                    lineWidth: 1, 
                    tickMarkLength: 5,
                    
                },
                }
            }
        }
    });
};
    
</script>

</body>
</html>