<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    
    <title>검색 결과 없음</title>
</head>

<body>

<div th:replace="CommonFile/header :: header"></div>

    <h2>❌ 종목을 찾을 수 없습니다</h2>
    <p>"${ticker}"에 해당하는 종목이 존재하지 않습니다.</p>
    <a href="/">홈으로 돌아가기</a>
    
<div th:replace="CommonFile/footer :: footer"></div>    
    
</body>
</html>