<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
<title>recommend</title>
</head>

<body>

<div th:replace="CommonFile/header :: header"></div>

<h1>recommend 페이지</h1>

<img src="/images/wallstreethero.jpg" width="150" height="auto"/>
<h2>피터린치 - 월가의영웅</h2>

<img src="/images/trendtrading.jpg" width="150" height="auto"/>
<h2>토마스 카- 추세매매기법</h2>

<img src="/images/howtostock.jpg" width="150" height="auto"/>
<h2>윌리엄오닐 - 최고의 주식 최적의 타이밍</h2>

<img src="/images/reminiscences.jpg" width="150" height="auto"/>
<h2>제시 리버모어 - 회상</h2>

<div th:replace="CommonFile/footer :: footer"></div>


</body>
</html>