<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
<title>map page</title>
</head>

<body>

<div th:replace="CommonFile/header :: header"></div>

히트맵 페이지

<div class="chart-button-list">
   		
   	  <h2>히트맵</h2>
   	  
   	  
      
   	</div>

<div th:replace="CommonFile/footer :: footer"></div>

<script th:inline="javascript">
        // Thymeleaf will now properly serialize the stockDataList as a JavaScript object
        var stockDataList = /*[[${stockDataList}]]*/ [];
        var indicatorList = /*[[${indicatorList}]]*/ [];
        
        
        const lineData = stockDataList.map(stock => ({
            x: new Date(stock.date.replace(" ", "T")), // Date or timestamp
            y: stock.close,  // Closing price
        }));
</script>       
</body>
</html>