<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row header-top">
            <div class="col logo">
                <img src="path/to/logo.png" alt="Logo" /> <!-- 로고 이미지 경로 -->
            </div>
            <div class="col search-bar">
                <input type="text" placeholder="검색어 입력..." />
                <button type="submit">검색</button>
            </div>
            <div class="col login">
                <button type="button">로그인</button>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">서비스</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="#">문의하기</a></li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>
